{% extends 'base.html' %}

{% block header %}
  {% if username %}
    <h1>Greeting, {{ username }}!</h1>
    <a href="{{ url_for('logout') }}">LOG OUT</a>
  {% endif %}
  <h2>This is our posts</h2>
{% endblock %}

{% block content %}

{% for cat, message in get_flashed_messages(True) %}
<p class="{{cat}}">{{ message }}</p>

{% endfor %}

  {% for p in posts %}
  <a class="post-link" href="{{ url_for('post_content', post_id=p.id) }}">
    <div class="post">
      <h3>{{ p.title }}</h3>
      <p>{{ p.content[:30] | striptags }}</p>
    </div>
  </a>
  <hr>
  {% endfor %}

{% endblock %}