.validation_error {
    background-color: rgba(144,39,134,0.85);
    color: white;
}

.unfilled_error {
    background-color: rgba(144,32,32,0.85);
    color: white;
}

.error {
    background-color: #ff0069;
}

.success {
    background-color: aquamarine;
}

.post {
    color:black;
}

.post-link {
    text-decoration: none;
    color: rgba(255,0,105,0.85);
}
